<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styleregister.css') }}">
    <title>Document</title>
</head>
<body>
    <div id="box-register">
        <h3>Registrar</h3>
        <form id="form" method="POST"> 
            <label>USER:</label><input name="name" placeholder="usuario" required>
            <label>CPF:</label><input name="cpf" placeholder="000.000.000-00" required>
            <label>PASSWORD:</label><input name="password" type="password" placeholder="password" required>
            <button type="submit">Cadastrar</button>
        <p><a href="{{ url_for('login')}}"> Ja tem uma conta? Entrar </a></p>
        </form>
    </div>
</body>
</html>