<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styleregister.css') }}">
    <title>Register</title>
</head>
<body>
    
    <div id="box-register">
        
        <form id="form" method="POST"> 
            <h3>Register</h3>
             {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for msg in messages %}
                        <li style="color: red">{{ msg }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
            <label>USER:</label><input name="name" placeholder="usuario">
            <label>CPF:</label><input name="cpf" placeholder="000.000.000-00">
            <label>PASSWORD:</label><input name="password" type="password" placeholder="password">
            <button type="submit">ENVIAR</button>
            <p><a href="{{ url_for('login')}}"> Ja possui uma conta? Entre</a></p>
        </form>
    </div>
</body>
</html>