<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylepix.css') }}">
    <title>Document</title>
</head>
<body>
    <header id="header-main"> 
        <div id="user-data">
            <label name="user">Usuario: <label class="letter-led">{{ name }}</label></label><br>
            <label name="account">Conta: <label class="letter-led">{{ account }}</label></label>
        </div>
        <div id="bank-data">
           <label>Saldo: <label class="letter-led">{{ balance }}</label></label>
        </div>
    </header>
    <section id="sect-main">
        <form method="POST" id="form">
             {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for msg in messages %}
                        <li style="color: red">{{ msg }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
       
            <input type="text" name="pix_key" placeholder="Chave PIX" required>
            <input type="number" name="amount" placeholder="Valor" required>
            <button type="submit">Pagar</button>
        </form>
    </section>
</body>
</html>